*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #1B244A;
}

.container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 50vw;
   height: 50vh;
   border: 5px solid red;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);  
}

.header{
   color: #fff;
   font-size: 40px;
   letter-spacing: 3px;
   text-align: center;
}

.score {
   height: 120px;
   width: 155px;
   font-family: 'Cursed Timer ULiL';
   font-style: normal;
   font-weight: 400;
   font-size: 100px;
   color: #F94F6D;
   margin-top: 10px;
   text-align: center;
   background-color: #000;  
}

.btn{
   width: 155px;
   height: 45px;
   margin-top: 15px;
   display: flex;
   justify-content: space-between;
}

button{
   width: 45px;
   color: #9AABD8;;
   background: none;
   border: 2px solid #9AABD8;
   border-radius: 5px;
   font-family: 'Cursed Timer ULiL';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
}

/* Media Queries */

@media (max-width: 900px) {

  .container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80vw;
      height: 60vh;
      border: 5px solid red;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   .header{
      color: #fff;
      font-size: 40px;
      letter-spacing: 3px;
      text-align: center;
   }

   .score {
      height: 120px;
      width: 155px;
      font-family: 'Cursed Timer ULiL';
      font-style: normal;
      font-weight: 400;
      font-size: 100px;
      color: #F94F6D;
      margin-top: 10px;
      text-align: center;
      background-color: #000;  
   }

   .btn{
      width: 155px;
      height: 45px;
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
   }

   button{
      width: 45px;
      color: #9AABD8;;
      background: none;
      border: 2px solid #9AABD8;
      border-radius: 5px;
      font-family: 'Cursed Timer ULiL';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
   }
}