@import url('http://fonts.cdnfonts.com/css/cursed-timer-ulil');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-image: linear-gradient(to right, #000, #090979);
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

.container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 575px;
   height: 385px;
   border: 5px solid red;
   border-radius: 5%;
   position: fixed;
   top: 50%;
   background:#1B244A;
   left: 50%;
   transform: translate(-50%, -50%); 
   box-shadow: 0px 0px 10px, 0px 0px -10px; 
}


.header{
   color: #fff;
   font-size: 40px;
   letter-spacing: 3px;
   text-align: center;
   font-family: "Verdana", sans-serif;
}

.score {
   height: 120px;
   width: 155px;
   font-family: "Cursed Timer ULiL", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 90px;
   line-height: 127px;
   color: #F94F6D;
   margin-top: 10px;
   text-align: center;
   background-color: #000;  
}

.btn{
   width: 155px;
   height: 45px;
   margin-top: 15px;
   display: flex;
   justify-content: space-between;
}

button{
   width: 45px;
   color: #9AABD8;;
   background: none;
   border: 2px solid #9AABD8;
   border-radius: 5px;
   font-family: 'Cursed Timer ULiL';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
}


/* Media Queries */

@media (max-width: 1200px) {
   .container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      height: 300px;
      border: 5px solid red;
      border-radius: 5%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
  
}

@media (max-width: 768px) {
   .container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      height: 300px;
      border: 5px solid red;
      border-radius: 5%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   .header{
      color: #fff;
      font-size: 40px;
      letter-spacing: 2px;
      text-align: center;
   }

   .score {
      height: 115px;
      width: 150px;
      font-family: 'Cursed Timer ULiL';
      font-style: normal;
      font-weight: 400;
      font-size: 90px;
      color: #F94F6D;
      margin-top: 10px;
      text-align: center;
      border-radius: 5px;
      background-color: #000;  
   }

   .btn{
      width: 150px;
      height: 45px;
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
   }

   button{
      width: 45px;
      color: #9AABD8;;
      background: none;
      border: 2px solid #9AABD8;
      border-radius: 5px;
      font-family: 'Cursed Timer ULiL';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
   }
}
