*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #1B244A;
}

main{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50vw;
}

.container {
   display: flex;
   justify-content: space-around;
   width: 50vw;
   height: 60%;
   margin: auto;
   border: 5px solid red;
   
}

.header{
   color: #fff;
   font-size: 40px;
   letter-spacing: 3px;
   text-align: center;
   margin-top: 60px;
}

.score {
   height: 120px;
   width: 155px;
   font-family: 'Cursed Timer ULiL';
   font-style: normal;
   font-weight: 400;
   font-size: 100px;
   color: #F94F6D;
   margin-top: 10px;
   text-align: center;
   background-color: #000;  
}

.btn{
   width: 155px;
   height: 45px;
   margin-top: 15px;
   display: flex;
   justify-content: space-between;
}

button{
   width: 45px;
   color: #9AABD8;;
   background: none;
   border: 2px solid #9AABD8;
   border-radius: 5px;
   font-family: 'Cursed Timer ULiL';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
}

/* Media Queries */

@media (max-width: 768px) {
   main{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50vw;
      transform: translateY(35%);
   }
   
   .container {
      display: flex;
      justify-content: space-around;
      width: 70vw;
      height: 100%;
      margin: auto;
      border: 5px solid red;
      
   }
   
   .header{
      color: #fff;
      font-size: 40px;
      letter-spacing: 3px;
      text-align: center;
      margin-top: 60px;
   }
   
   .score {
      height: 120px;
      width: 155px;
      font-family: 'Cursed Timer ULiL';
      font-style: normal;
      font-weight: 400;
      font-size: 100px;
      color: #F94F6D;
      margin-top: 10px;
      text-align: center;
      background-color: #000;  
   }
   
   .btn{
      width: 155px;
      height: 45px;
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
   }
   
   button{
      width: 45px;
      color: #9AABD8;;
      background: none;
      border: 2px solid #9AABD8;
      border-radius: 5px;
      font-family: 'Cursed Timer ULiL';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
   }
   
}